/* @import url("https://v1.fontapi.ir/css/Estedad"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: inherit;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bd93f9;
}

html {
  font-family: Estedad, "Estedad", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  height: 100%;
}

body {
  height: 100%;
  background: url(./assets/back-ground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  height: 100%;
}
